venv
.env
pdfs
media
media
media
**/__pycache__/

db.sqlite3

pdfmap_project/static
static

# Celery Beat persistent schedule & pid
celerybeat-schedule
celerybeat-schedule.*
celerybeat.pid

# If you store them in a run/ dir (recommended)
run/celerybeat-schedule
run/celerybeat-schedule.*
run/celerybeat.pid
